<a href="https://colab.research.google.com/github/yanil-03/python/blob/main/ML(data_division).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
# from re import M
# Introduction to machine learning

# Data(df) ---> x(input), y(output)
# x ----> x_train, x_test
# y ----> y_train, y_test


# machine finds the difference between input to target data

# Machine (input) -----> output????

# Machine(x_train, y_train) ------------> Machine(x_test) --------> output???
# Actual output = y_test , machine_predict   = y_pred


# Machine capabiltiy  -----> y_test <----->  y_pred

In [56]:
import numpy as np
import pandas as pd

In [57]:
df = pd.read_csv('/content/covid_toy.csv')
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [58]:
df.shape

(100, 6)

In [59]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [60]:
df['fever'].fillna(df['fever'].mean())
# df

0     103.0
1     100.0
2     101.0
3      98.0
4     101.0
      ...
95    104.0
96    101.0
97    101.0
98     98.0
99     98.0
Name: fever, Length: 100, dtype: float64

In [61]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [62]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [63]:
x = df.drop(columns = ['has_covid'])
x

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[100 rows x 5 columns]

In [64]:
y = df['has_covid']
y

0      No
1     Yes
2      No
3      No
4      No
     ...
95     No
96    Yes
97     No
98     No
99    Yes
Name: has_covid, Length: 100, dtype: object

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 30)

In [67]:
print("Total data shape :",df.shape)
print("---------------------------")
print("Input data(x) shape :",x.shape)
print("x_train data shape :",x_train.shape)
print("x_test data shape :",x_test.shape)
print("-------------------------------")

print("Target data shape (y):",y.shape)
print("y_train data shape :",y_train.shape)
print("y_test data shape :",y_test.shape)
print("-------------------------------")

Total data shape : (100, 6)
---------------------------
Input data(x) shape : (100, 5)
x_train data shape : (80, 5)
x_test data shape : (20, 5)
-------------------------------
Target data shape (y): (100,)
y_train data shape : (80,)
y_test data shape : (20,)
-------------------------------

In [68]:
# df(100,6) = x(100,5)+ y(100,1)
# x(100,5) = x_train(80,5) + x_test(20,5)
# y(100,1) = y_train(80,1) + y_test(20,1)

In [69]:
titanic_df = pd.read_csv('/content/titanic.csv')
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [70]:
titanic_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [83]:
titanic_df['Age'] = titanic_df['Age'].fillna(titanic_df['Age'].mean())
titanic_df['Fare'] = titanic_df['Fare'].fillna(titanic_df['Fare'].mean())

# titanic_df

In [72]:
titanic_df = titanic_df.drop(columns = ['Cabin'])
# titanic_df

In [84]:
titanic_df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [73]:
x = titanic_df.drop(columns = ['Survived'])
# x

In [77]:
y = titanic_df['Survived']
# y

In [75]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state=20)

In [76]:
print("Total data shape :",titanic_df.shape)
print("---------------------------")
print("Input data(x) shape :",x.shape)
print("x_train data shape :",x_train.shape)
print("x_test data shape :",x_test.shape)
print("-------------------------------")

print("Target data shape (y):",y.shape)
print("y_train data shape :",y_train.shape)
print("y_test data shape :",y_test.shape)
print("-------------------------------")

Total data shape : (418, 11)
---------------------------
Input data(x) shape : (418, 10)
x_train data shape : (334, 10)
x_test data shape : (84, 10)
-------------------------------
Target data shape (y): (418,)
y_train data shape : (334,)
y_test data shape : (84,)
-------------------------------

In [78]:
tips_df = pd.read_csv('/content/tips.csv')
tips_df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [79]:
tips_df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [81]:
x = tips_df.drop(columns = ['total_bill'])
# x

In [82]:
y = tips_df['total_bill']
# y

In [85]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 20)

In [86]:
print("Total data shape :",tips_df.shape)
print("---------------------------")
print("Input data(x) shape :",x.shape)
print("x_train data shape :",x_train.shape)
print("x_test data shape :",x_test.shape)
print("-------------------------------")

print("Target data shape (y):",y.shape)
print("y_train data shape :",y_train.shape)
print("y_test data shape :",y_test.shape)
print("-------------------------------")

Total data shape : (244, 7)
---------------------------
Input data(x) shape : (244, 6)
x_train data shape : (195, 6)
x_test data shape : (49, 6)
-------------------------------
Target data shape (y): (244,)
y_train data shape : (195,)
y_test data shape : (49,)
-------------------------------