<a href="https://colab.research.google.com/github/yanil-03/python/blob/main/Standardization_Social_network_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [163]:
import numpy as np
import pandas as pd

In [164]:
df = pd.read_csv('/content/dsjob.csv')

In [165]:
df.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
31,7683,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,5,NaN,NaN,1,10
292,19883,city_23,0.899,Female,Has relevent experience,no_enrollment,Graduate,STEM,3,NaN,NaN,2,30
573,6823,city_28,0.939,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Funded Startup,1,167
610,14329,city_57,0.866,Male,No relevent experience,Full time course,Masters,STEM,8,NaN,NaN,4,99
619,21462,city_21,0.624,Male,No relevent experience,no_enrollment,Graduate,STEM,10,10000+,Public Sector,1,218

In [166]:
df.shape

(2129, 13)

In [167]:
df.isnull().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                    508
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          312
experience                  5
company_size              622
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [168]:
from sklearn.impute import SimpleImputer

In [169]:
# si_mean = SimpleImputer(strategy='mean')
si_frequent = SimpleImputer(strategy='most_frequent')

In [170]:
df['gender'] = si_frequent.fit_transform(df[['gender']]).ravel()
df['enrolled_university'] = si_frequent.fit_transform(df[['enrolled_university']]).ravel()
df['education_level'] = si_frequent.fit_transform(df[['education_level']]).ravel()
df['major_discipline'] = si_frequent.fit_transform(df[['major_discipline']]).ravel()
df['experience'] = si_frequent.fit_transform(df[['experience']]).ravel()
df['company_size'] = si_frequent.fit_transform(df[['company_size']]).ravel()
df['company_type'] = si_frequent.fit_transform(df[['company_type']]).ravel()
df['last_new_job'] = si_frequent.fit_transform(df[['last_new_job']]).ravel()

In [171]:
df.isnull().sum()

enrollee_id               0
city                      0
city_development_index    0
gender                    0
relevent_experience       0
enrolled_university       0
education_level           0
major_discipline          0
experience                0
company_size              0
company_type              0
last_new_job              0
training_hours            0
dtype: int64

In [172]:
df.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
1980,15095,city_77,0.830,Male,Has relevent experience,no_enrollment,Graduate,No Major,7,50-99,Public Sector,2,30
330,19243,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,19,100-500,Pvt Ltd,1,31
2117,21500,city_44,0.725,Male,No relevent experience,Part time course,Graduate,STEM,7,<10,Early Stage Startup,never,160
1376,21210,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,100-500,Pvt Ltd,1,61
871,13089,city_16,0.910,Male,No relevent experience,no_enrollment,High School,STEM,5,50-99,Pvt Ltd,never,22

In [173]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder, OneHotEncoder

In [174]:
# df['gender'].value_counts()   #3
# df['relevent_experience'].value_counts()   #2
# df['enrolled_university'].value_counts()   #3
# df['education_level'].value_counts()   #5
# df['major_discipline'].value_counts()   #6
# df['enrolled_university'].value_counts()   #3
# df['experience'].value_counts()   #11
# df['company_size'].value_counts()   #5
# df['company_type'].value_counts()   #3
# df['last_new_job'].value_counts()   #5

In [175]:
lb = LabelEncoder()
oe = OrdinalEncoder(categories = [['Male', 'Female','Other']])
ohe = OneHotEncoder(drop = 'first', sparse_output = False)

In [176]:
df['city'] = lb.fit_transform(df['city'])        #label encoding for city sub categories
df['education_level'] = lb.fit_transform(df['education_level'])        #label encoding for city sub categories
df['major_discipline'] = lb.fit_transform(df['major_discipline'])        #label encoding for city sub categories
df['company_type'] = lb.fit_transform(df['company_type'])        #label encoding for city sub categories
df['gender'] = oe.fit_transform(df[['gender']])   #ordinal encoding for gender sub categories

In [177]:
df['relevent_experience'] = ohe.fit_transform(df[['relevent_experience']])  #one hot encoding for relevent experience

In [178]:
df = pd.get_dummies(df , columns = ['enrolled_university'], drop_first = True)

In [179]:
df['experience'] = lb.fit_transform(df['experience'])         #label encoding for experience sub categories

In [180]:
df['company_size'] = lb.fit_transform(df['company_size'])         #label encoding for comapny size sub categories

In [181]:
df.head(2)

,enrollee_id,city,city_development_index,gender,relevent_experience,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,enrolled_university_Part time course,enrolled_university_no_enrollment
0,32403,69,0.827,0.0,0.0,0,5,19,7,5,1,21,False,False
1,9858,5,0.920,1.0,0.0,0,5,15,4,5,1,98,False,True

In [184]:
df.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,enrolled_university_Part time course,enrolled_university_no_enrollment
1723,31441,90,0.939,0.0,0.0,0,5,6,4,4,2,156,False,True
1170,12340,11,0.926,0.0,0.0,2,5,21,4,1,2,21,False,True
406,16490,83,0.855,0.0,0.0,0,5,18,4,5,1,13,False,True
158,4601,61,0.939,0.0,1.0,3,5,21,6,5,2,9,False,True
995,7773,55,0.624,0.0,0.0,0,5,17,2,5,1,9,False,False

In [185]:
df['last_new_job'] = lb.fit_transform(df['last_new_job'])         #label encoding for last new job sub categories

In [186]:
df.dtypes

enrollee_id                               int64
city                                      int64
city_development_index                  float64
gender                                  float64
relevent_experience                     float64
education_level                           int64
major_discipline                          int64
experience                                int64
company_size                              int64
company_type                              int64
last_new_job                              int64
training_hours                            int64
enrolled_university_Part time course       bool
enrolled_university_no_enrollment          bool
dtype: object

In [187]:
df.astype(int)

,enrollee_id,city,city_development_index,gender,relevent_experience,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,enrolled_university_Part time course,enrolled_university_no_enrollment
0,32403,69,0,0,0,0,5,19,7,5,0,21,0,0
1,9858,5,0,1,0,0,5,15,4,5,0,98,0,1
2,31806,55,0,0,1,1,5,20,4,5,5,15,0,1
3,27385,22,0,0,0,2,5,2,0,5,0,39,0,1
4,27724,5,0,0,0,0,5,21,3,5,4,72,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2124,1289,5,0,0,1,0,2,7,4,4,3,15,0,1
2125,195,25,0,0,0,2,5,9,4,5,1,30,0,1
2126,31762,2,0,0,1,4,5,13,4,5,5,18,0,1
2127,7873,4,0,0,0,1,5,17,1,4,0,84,0,0
2128,12215,4,0,0,0,2,5,6,3,5,1,11,0,1

In [188]:
from sklearn.preprocessing import StandardScaler

In [189]:
sc = StandardScaler()

In [190]:
np.round(df.describe(), 1)

,enrollee_id,city,city_development_index,gender,relevent_experience,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours
count,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0
mean,16861.6,38.0,0.8,0.1,0.3,0.7,4.7,13.1,3.3,4.5,1.7,65.0
std,9576.8,29.9,0.1,0.3,0.5,1.0,0.9,6.6,1.8,1.3,1.9,60.2
min,3.0,0.0,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25%,8562.0,5.0,0.7,0.0,0.0,0.0,5.0,8.0,2.0,5.0,0.0,23.0
50%,16816.0,41.0,0.9,0.0,0.0,0.0,5.0,15.0,4.0,5.0,1.0,47.0
75%,25129.0,55.0,0.9,0.0,1.0,2.0,5.0,19.0,4.0,5.0,4.0,86.0
max,33353.0,107.0,0.9,2.0,1.0,4.0,5.0,21.0,7.0,5.0,5.0,334.0

In [196]:
df_sc = sc.fit_transform(df)
df_new = pd.DataFrame(df_sc, columns = df.columns)

In [197]:
np.round(df_new.describe(), 1)

,enrollee_id,city,city_development_index,gender,relevent_experience,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,enrolled_university_Part time course,enrolled_university_no_enrollment
count,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0,2129.0
mean,0.0,0.0,-0.0,-0.0,-0.0,0.0,0.0,0.0,0.0,0.0,-0.0,0.0,0.0,-0.0
std,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
min,-1.8,-1.3,-3.0,-0.3,-0.6,-0.7,-5.3,-2.0,-1.8,-3.6,-0.9,-1.1,-0.3,-1.6
25%,-0.9,-1.1,-1.0,-0.3,-0.6,-0.7,0.3,-0.8,-0.7,0.4,-0.9,-0.7,-0.3,-1.6
50%,-0.0,0.1,0.6,-0.3,-0.6,-0.7,0.3,0.3,0.4,0.4,-0.4,-0.3,-0.3,0.6
75%,0.9,0.6,0.8,-0.3,1.6,1.3,0.3,0.9,0.4,0.4,1.2,0.3,-0.3,0.6
max,1.7,2.3,1.0,6.0,1.6,3.2,0.3,1.2,2.0,0.4,1.7,4.5,3.7,0.6